*{overflow: auto;}
h1.start { width: 300px;
height: 40px;
background-color: rgba(255, 0, 208, 0.885);

text-align:center;
margin-left: auto;
margin-right: auto;}

body.content{
 background-color: blueviolet;
 background-image: url('https://wallpaperaccess.com/full/2891839.jpg');
 }

 img.image {
    width: 100%;
    height: 400px;
    /*margin-left: auto;*/
    margin-right: auto;
    background-color: lightblue;
    
    display:block;
    object-fit: cover; 
    box-shadow:0px 0px 10px 10px rgba(27, 8, 200, 0.3);
  
 }

 p.hindi {
    background-color: rgb(187, 250, 13);
    font-size: 25px;
    
   width: 280px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
p.hin{
    background-color: rgb(187, 250, 13);
    font-size: 25px; 
    text-align: center;
}

img.fire {
    width: 100%;
    height: 400px;
   /* margin-left: 50%;
    margin-right: 5%;
 */   
    background-color: lightgray;
    
    display:block;
    object-fit: cover; 
    box-shadow:0px 0px 10px 10px rgba(211, 25, 25, 0.5);
    margin-bottom: 10px;
    }
    

 @media only screen and (min-width: 768px) {

img.image {
width: 600px;
height: 400px;
/*margin-left: auto;*/
margin-right: auto;
background-color: lightblue;

display:block;
object-fit: cover; 
box-shadow:0px 0px 10px 10px rgba(27, 8, 200, 0.3);
margin-left: 5%;
}
img.fire {
    width: 600px;
    height: 400px;
    margin-left: 50%;
    margin-right: 5%;
    
    background-color: lightgray;
    
    display:block;
    object-fit: cover; 
    box-shadow:0px 0px 10px 10px rgba(211, 25, 25, 0.5);
    }

p.hindi{
    background-color: rgb(187, 250, 13);
    font-size: 25px;
    
    width: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p.hin{
    background-color: rgb(187, 250, 13);
    font-size: 25px; 
    text-align: center;
}

}